<section>
    <div class="row w-100 mw-100 d-flex justify-content-center align-items-center bg-light">
        <div class="col-12 col-md-6 p-3">
            <form [formGroup]="forecastForm" (ngSubmit)="submit()">
                <div class="input-group my-3">
                    <input type="text" class="form-control" formControlName="cityName" placeholder="City Name">
                    <button class="submit-btn border-0" type="submit" id="button-addon2">
                      <i style="color: white;" class="bi bi-search">
                    </i>
                    </button>
                </div>
            </form>
        </div>
    </div>
    <div class="container">
        <div class="row my-2 mw-100">
            <div class="col-md-6 col-12 order-2 order-md-1">
                <div class="img-u-1">
                </div>
            </div>

            <!-- forecast card -->
            <div class="col-md-6 col-12 order-1 order-md-2">


                <div class="d-flex flex-column justify-content-start align-items-center green-border" *ngIf="forecastData">
                    <div class="alert alert-danger w-100 text-center" *ngIf="error">
                        {{error}}
                    </div>
                    <div class="my-2">
                        <img class="sunny-img" src="/assets/sun.png" alt="">
                    </div>
                    <div class="d-flex justify-content-center align-items-center">

                        <h2 my-3>
                            {{city| titlecase}}, <span>{{country}}</span>
                        </h2>
                        <button class="border-0 bg-transparent ms-2" (click)="getTodayForecast()">
                          <i style="font-size: 32px;" class="bi bi-arrow-clockwise"></i>
                  <!-- <img src="../../assets/icons8-refresh-32.png" alt="refresh forecast?"> -->
                </button>
                    </div>
                    <span class="heading">
                       {{temp | number:'1.0-0'}} °C
                  </span>
                    <div class="">Feels like {{feelsLike | number:'1.0-0'}} °C. {{currentWeather| titlecase}} </div>
                    <p class="mb-0"><span>Today:</span> {{dt| dateFormat| date}}</p>
                    <span class="mb-2" style="color:#eb6e4b">Last update {{dt| dateFormat| date:'shortTime'}}</span>

                    <div class="d-flex justify-content-center align-items-center">
                        <div class="d-flex justify-content-center align-items-center">
                            <img style="width:23px; max-width: 100%;" src="../../assets/icons8-wind-48.png" alt="">
                            <span class="ms-2">
                {{windSpeed }} m/s
               </span>
                        </div>
                        <div class="d-flex justify-content-center align-items-center ms-3">
                            <img style="width:23px; max-width: 100%;" src="../../assets/icons8-humidity-30.png" alt="">
                            <span class="ms-2">
                  {{humidity}}%
                </span>
                        </div>
                    </div>
                    <table class="table responsive-table table-borderless">
                        <thead>
                            <tr>
                                <th scope="col-3" style="font-size: 20px;">8-day forecast</th>

                            </tr>
                        </thead>
                        <tbody>
                            <tr scope="row" *ngFor="let day of daily ">
                                <th>{{day?.dt| dateFormat | date}}</th>
                                <td>{{day.temp.max | number:'1.0-0'}} / {{day.temp.min | number:'1.0-0'}} °C </td>
                                <td>{{day.weather[0].description}}</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
            <!-- ------ -->
        </div>
    </div>
</section>
